/*panel logowania*/
.mstudentheader {
    margin-top:  10px;
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Sketchtica.ttf');
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 196px;
	height: 196px;
	margin: 0 auto 20px;
	display: block;
}

.text-img{
	margin: 0 auto 20px;
	display: block;
}	
	
}

.menu-img{
	width: 26px;
	height: 26px;
}

input[id="newGroup"] {
	 width: 50px;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.selectpicker 
{
	 margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.dodaj{
	float:right;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.show{
	float:right;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}
.textCourse{
	margin-left: 10px;
	color: black;
}

input[id="newCourse"] {
		width: 150px;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform:uppercase;
}

input[id="sizeCourse"] {
		width: 50px;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.harmonogramGodzina{
	width:60px;
	margin-left: 10px;
	 display:inline-block;
}
.harmonogramTydzien{
	width:60px;
	margin-left: 40px;
	 display:inline-block;
}
.harmonogramRodzaj{
	width:60px;
	margin-left: 10px;
	display:inline-block;
}
.harmonogramDzien{
	width:60px; 
	margin-left: 40px;
	display:inline-block;
}
.harmonogramInput{
	width:60px;
	margin-left: 10px;
	margin-bottom: 3px;
}
.harmonogram{
	margin-left: 11px;
    display:inline-block;
}
.harmonogramAdd{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.information{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 4px;
}
.dane{
	
	
	display:inline-block;
	margin-right: 10px;
}

.div1 {
    float: left;
   
}

.div2 {
    float:right;
}

body{margin:50px;}
      #accordion .glyphicon { margin-right:10px; }
      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}